<h1>All Blog Posts</h1>

<% if @posts.any? %>
  <div class="row">
    <%= render partial: "post", collection: @posts, as: :post %>
  </div>
<% else %>
  <div class="text-center py-5">
    <h4 class="text-muted">No blog posts yet</h4>
    <p class="lead">
      Be the first to share your story!
      <%= link_to "Create New Post", new_post_path, class: "btn btn-primary mt-3" %>
    </p>
  </div>
<% end %>